body{
    background-image: url(./images/pexels-karolina-grabowska-4814060.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.hr{
    display: flex;
    justify-content: center;
}

.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0;
    height: 5em;
}

.line{
    padding:0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.name{
    color: #f50aa7;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.link{
    text-decoration: none;
    color: white;
}

.mid-section{
    text-align: center;
    padding: 5% 20% 2%;
    color: white;
    text-shadow: 1px 1px 2px #f50aa7;
}

ul{
        display: inline-block;
        text-align: left;
}

.two{
    padding-left: 0.5%;
    width: 80%;
}

.lower-mid{
    text-align: center;
    padding: 1% 20%;
    color: white;
    text-shadow: 1px 1px 2px #f50aa7;
}

a{
    text-decoration: none;
}

.inner-footer{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img5{
    width: 5%;
}

.name2{
    margin-left: 3%;
    color: #f50aa7;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.two{
    margin: 10% 0 1%;
}

@media (max-width: 600px){

    body{
        background-image: url(images/pexels-karolina-grabowska-4814060.jpg);
        background-position: center;
    }

    .name{
        font-size: 1.5rem;
    }

    .header-section{
        font-size: 75%;
    }

    .b{
        margin-left: 4px;
    }

    h2{
        font-size: 1.2rem;
    }

    h3{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

    .date{
        font-size: 0.8rem;
    }

    .name2{
        font-size: 1rem;
    }
}