body{
    background-image: url(./images/pexels-karolina-grabowska-4814060.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.hr{
    display: flex;
    justify-content: center;
}

.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0;
    height: 5em;
}

.line{
    padding:0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.date{
    display: flex;
    flex-direction: row;
}

.name{
    color: #f50aa7;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.link{
    text-decoration: none;
    color: white;
}

.mid-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8%;
}

.heading{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #f50aa7;
}

a{
    text-decoration: none;
}

.mid{
    border: 2px solid rgb(239, 150, 202);
    border-radius: 2%;
    width: 20%;
    text-align: center;
    height: 30%;
}

.img1, .img2, .img3, .img4{
    width: 100%;
}

.img5{
    width: 5%;
}

.two{
    margin: 10% 0 1%;
    width: 80%;
}
.inner-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i{
    font-size: 148.31%;
}

.b{
    margin-left: 10px;
}

.name2{
    margin-left: 3%;
    color: #f50aa7;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

@media (max-width: 600px) {

    body{
        background-image: url(images/pexels-karolina-grabowska-4814060.jpg);
        background-position: center;
    }

    .name{
        font-size: 1.5rem;
    }

    .header-section{
        font-size: 75%;
    }
    .mid-section
    {
        font-size: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .mid{
        width: 160px;
        margin-bottom: 5%;
    }

    .fourth{
        margin-bottom: -5%;
    }

    .footer{
        text-align: center;
        padding: 0;
    }

    .b{
        margin-left: 4px;
    }
  }